header {
	background-color: white;
	background position: left 20px center;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: no-repeat;
	background-image: url("../images/logo.png");
	}
